html {
    scroll-behavior:smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFFFFF;
}

nav {
    display: flex;
    align-items: center;
    margin-block: auto;
    justify-content: end;
    height: 4rem;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0,0.65);
    position: fixed;
}


nav a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
    height: auto;
    margin-right: 3rem;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 1px solid white;
    transition: 0.3s;
}

nav a:hover {
    transition: 0.3s;
    border-bottom: solid transparent;
}

.hero h1 {
    font-size: 75px;
}

.box {
    display: flex;
    align-items: center;
    margin-block: auto;
    justify-content: center;
    padding-block: 100px;
}

.sell-tick {
    font-size: 30px;
    border: transparent;
    border-radius: 5rem ;
    height: 5rem;
    width: 15rem;
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 0.651);
    transition: 0.5s;
}

.sell-tick:hover {
    cursor: pointer;
    transition: 0.5s;
    color: black;
    background-color: rgba(255, 255, 255, 0.651);
}

.hero h3 {
    font-size: 30px;
}

.hero p {
    width: 90%;
    margin-top: 2rem;
    font-size: 20px;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: auto;
    justify-content: center;
    position: relative;
    
    height: 100vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.651);
}

#backVideo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -100;
}

#schedule {
    flex-direction: column;
    background-color: rgb(17, 5, 0);
}

#schedule ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
}


@media (min-aspect-ratio: 16/9) {
    #backVideo {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #backVideo {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 800px) {
    .hero {
        width: 100%;
    }
}
